.card_square {
    background-color: var(--color-blue-medium);
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    color: var(--color-white);
    padding: 10px;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-white);
    width: 140px;
}

.image_container > i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.information {
    width: 100%;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .card_square {
        background-color: var(--color-blue-medium);
        width: 350px;
        flex-direction: row;
        cursor: pointer;
    }

    .information {
        flex-direction: column;
        margin-left: 100px;
        font-size: 15px;
    }
}