.barraPorcentagem {
    width: 100%;
    height: 8px;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.barra_azul {
    height: 100%;
    background: var(--color-blue-light);
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.barra_verde {
    height: 100%;
    background: var(--color-green);
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.barra_amarela {
    height: 100%;
    background: var(--color-yellow);
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.barra_vermelha {
    height: 100%;
    background: var(--color-red);
    text-align: center;
    color: #fff;
    font-size: 12px;
}

