.menu {
    width: 750px;
    margin-top: 20px;
}

.menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.menu > ul > li {
    padding: 8px 30px;
    display: flex;
    gap: 5px;
    background-color: var(--color-blue-medium);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-white);
}

.menu > ul > li > a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .menu {
        width: 200px;
    }
}