.card {
    display: flex;
    width: 100%;
    background-color: var(--color-blue-medium-opacity);
    color: var(--color-white);
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
}

.info {
    width: 100%;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 2px; 
}

.estado_geral {
    display: flex;
    justify-content: space-between;
}