.form {
    color: var(--color-blue-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}

.form_icon {
    border-bottom: 1px solid var(--color-blue-medium-opacity);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.form_icon > i {
    font-size: 12rem;
    margin: -25px;
    color: var(--color-blue-medium-opacity);
}

.group_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 0px 10px;
}

.input_container > label {
    margin-left: 10px;
}

.input_container > p {
    font-size: 15px;
    margin-left: 5px;
}

.form_input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form_input > input  {
    height: 55px;
    font-size: 20px;
    padding-left: 55px;
    border-radius: 10px;
    border: none; 
    background-color: var(--color-blue-dark);
    width: 100%;
    outline: none;
    color: var(--color-white);
}

.form_input > input::placeholder {
    color: var(--color-white);
}

.form_input > i {
    position: absolute;
    font-size: 25px;
    color: var(--color-white);
    margin-left: 15px;
}

.form_button {
    margin-right: 10px;
}

.form_button > button{
    margin-top: 10px;
    padding: 15px 45px;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.form_button > button:nth-child(2) {
    font-size: 20px;
    padding: 12px 40px;
}

.popup_select_count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: var(--color-white);
  background-color: var(--color-blue-dark);
  padding: 40px;
  border-radius: 20px;
  display: none;
}

.popup_select_count > h3 {
    margin-bottom: 5px;
}

.popup_select_count > p {
    margin-bottom: 10px;
}

.buttons_select_count > button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-white);
}

@media (max-width: 600px) {
    .form_icon > i {
        font-size: 130px
    }

    .popup_select_count {
        width: 400px; 
    }
}