.bikes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main {
    margin-top: 50px;
    width: 100%;
    padding: 0px 400px;
    flex: 1;
}

.content_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.create_button {
    background-color: var(--color-blue-medium);
    color: var(--color-white); 
    border: none; 
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    width: 100px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information {
    font-size: 19px;
    color: var(--color-blue-medium)
}

.information > h2 {
    border-bottom: 2px solid var(--color-blue-medium);
}

.information > ul {
    list-style-position: inside;
    width: 300px;
}

.information > ul > li:nth-child(3) > .bom {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-blue-light);
}

.information > ul > li:nth-child(3) > .meio_termo {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-yellow);
}

.information > ul > li:nth-child(3) > .ruim {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-red);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 150px;
}

.buttons > button {
    background-color: var(--color-blue-medium);
    color: var(--color-white); 
    border: none; 
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    width: 60px;
    height: 60px;;
}


.status_container {
    width: 350px;
    margin-top: 50px;
}


.registered_bikes {
    align-self: flex-start;
}

.registered_bikes > div {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.registered_bikes > div::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}

/* fundo da barra */
.registered_bikes > div::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* parte que se move */
.registered_bikes > div::-webkit-scrollbar-thumb {
  background: var(--color-blue-medium);

}

/* hover */
.registered_bikes > div::-webkit-scrollbar-thumb:hover {
  background: #888;
}



/*----Reparar Bike------*/ 
.rapair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}


.repair_center_content {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.rapair_options_click {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--color-blue-medium);
}

.rapair_options_click > p {
    margin: 10px 40px;
}

.rapair_options_click_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 40px;
}

.rapair_options_click_buttons > div {
    background-color: var(--color-blue-medium);
    color: var(--color-white); 
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 120px;  
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rapair_options_click_buttons > div > i {
    font-size: 45px;
}

.rapair_build_section {
    align-self: self-start;
    margin-left: 20px;
}

.rapair_build_section > h3 {
    font-size: 25px;
    color: var(--color-blue-dark);
    border-bottom: 2px solid var(--color-blue-dark);
    padding-bottom: 5px;
    margin-bottom: 14px;
}

.rapair_build_item {
    display: flex;
    color: var(--color-blue-dark);
    gap: 20px;
}

.rapair_build_item > div {
    background-color: var(--color-light-gray);
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.rapair_build_item > .ativado  {
    background-color: var(--color-blue-dark);
    color: var(--color-white);
}

.rapair_build_item > div > i {
    font-size: 25px;
}

.status_container_menu {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.status_container_menu > button {
    width: 100px;
    height: 50px;
    border: none; 
    border-radius: 10px;
    color: var(--color-white);
}

.status_container_menu > button:nth-child(1) {
    background-color: var(--color-green);
}

.status_container_menu > button:nth-child(2) {
    background-color: var(--color-red);
}

.components_repair_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-blue-medium)
}

.components_repair_options > h3 {
    border-bottom: 2px solid var(--color-blue-medium);
}

.components_repair_options > div {
    background-color: var(--color-yellow);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    color: var(--color-blue-dark); 
    font-weight: bolder;
}