* {
  margin: 0px; 
  padding: 0;
  box-sizing: border-box;   
  font-family: "Inter",sans-serif;
}

:root {
  --color-blue-light: #3B82F6; 
  --color-blue-medium: #1E293B;
  --color-blue-medium-opacity: #1e293bbe;
  --color-blue-dark: #0F172A;

  --color-white: #F8FAFC; 
  --color-light-gray: #CBD5E1; 
  --color-dark-gray: #64748B;

  --color-green: #22C55E;
  --color-yellow: #FACC15; 
  --color-red: #EF4444;
}

.bolder {
    font-weight: 600;
}

a {
  color: var(--color-blue-light);
}

.logo {
  position: absolute;
}

@media (max-width:1500px) {
    .logo {
      display: none;
    }
}