.create_a_bike {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.create_a_bike_main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.menu_left {
    width: 500px;
}

.menu_left > div {
    margin-top: 20px;
}

.menu_left h4 {
    border-bottom: 2px solid var(--color-blue-medium);
    color: var(--color-blue-medium)
}

.width_complet  {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-blue-medium);
    color: var(--color-white);
    outline: none;
    font-size: 17px;
}

.width_complet::placeholder {
    color: var(--color-white)
}


.set_image_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set_image_container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 50px;
    position: absolute;
    background-color: var(--color-blue-medium-opacity);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.img {
    font-size: 30px;
    position: absolute;
}

.status {
    width: 400px;
}

.informations {
    margin-top: 5px;
}

.informations > p {
    font-size: 15px;
}

.informations > div {
    margin-top:10px;
}

.informations > div > button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border:none; 
    border-radius: 10px;
    color: var(--color-white)
}

.informations > div > button:nth-child(1) {
    background-color: var(--color-green);
}

.informations > div > button:nth-child(2) {
    background-color: var(--color-red);
}

@media (max-width: 900px) {

    .create_a_bike {
        align-items: start;
    }

    .menu {
        padding-left: 20px;
    }

    .create_a_bike_main {
        flex-direction: column;
    }

    .menu_left {
        padding: 10px;
        width: 100%;
    }

    .imageBike {
        width:400px; 
        height: 400px;
    }

}