.footer {
    background-color: var(--color-blue-medium-opacity);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    width: 100%;
}