.auth_container {
    display: flex;
    position: relative;
}

.informations {
    position: relative;
    display: flex;
    justify-content: center;
}

.content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 22px;
    font-weight: 200;
    width: 500px;
    color: var(--color-white); 
    padding: 50px 0px;
}

.content_section1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content_section1 > h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-white);
    width: 300px;
}

.content_section2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 70px;
}

.button_more_info {
   background-color: var(--color-blue-dark);
   padding: 20px;
   text-align: center;
   border-radius: 20px;
}

.button_more_info > a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
}

.image {
    position: relative;
    width: 700px;
    height: 100vh;
    z-index: 1;
}

.children_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex: 1;
}

.form_footer_informations {
    display: flex;
    background-color: var(--color-blue-dark);
    color: var(--color-white); 
    padding: 10px;
    font-weight: 200;
}

.form_footer_informations > div > h3 { 
    margin-bottom: 5px;
}

.form_footer_informations > div {
    margin: 20px;
}

.form_footer_informations > div:nth-child(1) {
    padding-right: 20px;
    border-right: 1px solid var(--color-white)
}

@media (max-width: 1500px) {
    .informations {
        display: none;
    }

    .children_container {
        height: 100vh;
    }
}