.historical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: var(--color-blue-dark    )
}

.historical_content {
    display: flex;
    flex: 1;
    align-self: flex-start;
    margin-left: 300px;
    padding-top: 50px;
}

.historical_content_aside {
    border-right: 2px solid var(--color-blue-medium-opacity);
    padding-right: 50px;
    height: 700px;
}

.historical_content_aside_list  {
    font-size: 20px;
}

.historical_content_aside_list > ul {
    list-style: none;
}

.historical_list {
    margin-left: 50px;
}

.historical_list > h2 {
    font-size: 40px;
}

.historical_cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.historical_item {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.historical_item > div:nth-child(1){
    display: flex;
    gap: 10px;
    font-size: 20px;
    background-color: var(--color-blue-dark);
    color: var(--color-white); 
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}

.sub_informations_ativo {
    background-color: var(--color-light-gray);
    padding: 10px;
    margin-top: -20px;
    padding-top: 30px;
    z-index: 1;
    display: flex ;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.sub_informations_ativo > h4 {
    font-size: 20px;
}

.sub_informations_desligado {
    display: none;
}

.bom {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-blue-light);
}

.meio_termo {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-yellow);
}

.ruim {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--color-red);
}